bin/
obj/
.vs/
*.user

# Tệp tạm của các script hỗ trợ trong _tools
_tools/shots/
_tools/*.log
_tools/go.flag
_tools/conbuf*.txt
_tools/edge-tmp*/
_tools/edge-pdf/
_tools/pdfx/
_tools/mingit/
_tools/MinGit.zip
